In [13]:
# Import the Pandas dependency.
import pandas as pd
import re


# Read the contacts string data into a Pandas DataFrame
contacts_string_df = pd.read_csv("./Resources/contacts_string_data.csv")
contacts_string_df.head()

                                        contact_info
0  contact_id 4661 name Cecilia Velasco email cec...
1  contact_id 3765 name Mariana Ellis email maria...
2  contact_id 4187 name Sofie Woods email sofie.w...
3  contact_id 4941 name Jeanette Iannotti email j...
4  contact_id 2199 name Samuel Sorgatz email samu...

In [14]:
# Extract the four-digit contact ID number.
contacts_string_df['contact_id'] = contacts_string_df['contact_info'].str.extract(r'(\d{4})')
contacts_string_df.head()

                                        contact_info contact_id
0  contact_id 4661 name Cecilia Velasco email cec...       4661
1  contact_id 3765 name Mariana Ellis email maria...       3765
2  contact_id 4187 name Sofie Woods email sofie.w...       4187
3  contact_id 4941 name Jeanette Iannotti email j...       4941
4  contact_id 2199 name Samuel Sorgatz email samu...       2199

In [15]:
contacts_string_df['name']  = contacts_string_df["contact_info"].str.extract(r'([^nameil\s+][A-Za-z]+\s+[A-Za-z]+)')
contacts_string_df.head()

,contact_info,contact_id,name
0,contact_id 4661 name Cecilia Velasco email cec...,4661,Cecilia Velasco
1,contact_id 3765 name Mariana Ellis email maria...,3765,Mariana Ellis
2,contact_id 4187 name Sofie Woods email sofie.w...,4187,Sofie Woods
3,contact_id 4941 name Jeanette Iannotti email j...,4941,Jeanette Iannotti
4,contact_id 2199 name Samuel Sorgatz email samu...,2199,Samuel Sorgatz

In [16]:
# Extract the email address using a regular expression pattern. 
email_address = re.findall(r'(\S+@\S+)', string_data)
email_address

NameError: name 'string_data' is not defined